@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: dim --default;
}

@theme {
  --font-sans: "Roboto", sans-serif;
}

body {
  font-family: var(--font-sans);
}

button {
  cursor: pointer;
}

@utility toast {
  @apply border-base-200! bg-base-300! text-base-content!;
}
